@use 'variables';

.home {
  h1 {
    font-size: small;
  }
  h2,
  h3 {
    font-size: 4em;
  }
  .accentColor {
    color: variables.$main-colour;
    &.platformText {
      font-family: monospace;
    }
  }
  a.btn {
    color: variables.$main-colour;
    background: transparent;
    border: 0.5px solid variables.$complimentary-colour;
    border-radius: 5px;
    padding: 0.5em;
  }
  sup {
    font-style: italic;
  }
  // .nameHover:hover {
  //   cursor: pointer;
  //   &::after {
  //     content: 'minik ';
  //   }
  // }
}
