.home {
  h1 {
    font-size: small;
  }
  h2,
  h3 {
    font-size: 4em;
  }
  .accent-color {
    color: hotpink;
  }
  a.btn {
    color: hotpink;
    background: transparent;
    border: 0.5px solid #ffce30;
    border-radius: 5px;
    padding: 0.5em;
  }
}
