.home {
  h1 {
    font-size: small;
  }
  h2,
  h3 {
    font-size: 4em;
  }
  .accentColor {
    color: hotpink;
    &.platformText {
      font-family: monospace;
    }
  }
  a.btn {
    color: hotpink;
    background: transparent;
    border: 0.5px solid #ffce30;
    border-radius: 5px;
    padding: 0.5em;
  }
  sup {
    font-style: italic;
  }
}
